<html>
    <head>
        <title>SimpleData BlockChain Explorer</title>
    </head>
    <body>
        <h1 align="center">BlockChain Explorer</h1>
        <form action="/node" method="get">
            <span>Node url(contains http(s)://): <input type="text" name="node" value="{{ node }}" /></span>
          <input type="submit" value="Explore" />
        </form>
          <ul>
            {% for text in txt %}
            <li>Index:{{ text["index"] }}</li>
            <li>timestamp:{{ text["timestamp"] }}</li>
            <li>BlockData:{{ text["data"] }}</li>
            <li>hash:{{ text["hash"] }}</li>
            <li>previous_hash:{{ text["previous_hash"] }}</li>
            <br/>
            {% endfor %}
          </ul>
    </body>
</html>
